:root {
    --yellow: #ffe600;
    --black: #000000;
    --light-black: #090909;
    --lighter-black: #131313;
    --grey: #404040;
    --white: #fff;
    --light-grey: #ebebeb;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: var(--grey);
    font-weight: 400;
    line-height: 1.6;
}

/*IMAGES */

img {
    max-width: 100%;
    display: block;
}

.footer__logo {
    margin: 0 auto;
    opacity: 0.3;
}

.header__logo {
    background-color: var(--yellow);
    padding: 2.5em 0.3em 0.2em 0.3em;
}

/*===========================
TYPOGRAPHY
===========================*/

.hero__heading {
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 700;
    line-height: 1.4;
}

.hero__heading--highlight {
    color: var(--yellow);
}

.company-info__col-heading {
    font-size: 1.125rem;
    color: var(--black);
    line-height: 1.4;
    font-weight: 800;
    margin-bottom: 1em;
}

.company-info--highlight {
    color: var(--black);
    font-weight: 700;
}

.hero__desc {
    color: var(--white);
    font-size: 1.125rem;
}

.nav__list-link {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    font-size: 3em;
    padding: 0.5em 0;
    /**/
    transform: scale(1);
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
}

.nav__list-link:hover,
.nav__list-link:focus {
    color: var(--yellow);
    transform: scale(1.1);
}

.socials-icon {
    font-size: 1.75rem;
    color: var(--black);
}

.footer__content-copyrights {
    font-size: 0.875rem;
    opacity: 0.4;
    letter-spacing: 1px;
}

.footer__content-desc {
    opacity: 0.4;
    margin-top: 1em;
    margin-bottom: 4em;
}

.active {
    border-bottom: 2px solid var(--yellow);
}

/*===========================
LAYOUT
===========================*/

header {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(250px, 500px) minmax(1em, 1fr);
    background-image: linear-gradient(to right,
            var(--black) 50%,
            var(--lighter-black),
            var(--light-black));
}

nav {
    background-image: linear-gradient(to right,
            var(--black) 50%,
            var(--lighter-black),
            var(--light-black));
    position: fixed;
    left: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    transform: translateX(0%);
    transition: transform 250ms;
    z-index: 1;
}

.open_nav {
    transform: translateX(-100%);
}

.header__container {
    grid-column: 2/-2;
    display: flex;
}

.nav__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hero {
    background-image: url(./assets/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 50%;
    min-height: 35vw;
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(250px, 500px) minmax(1em, 1fr);
    padding: 4em 0;
}

.hero>* {
    grid-column: 2/-2;
    margin-right: 30%;
}

.hero__desc {
    grid-row: 2/3;
    margin: 1em 0;
}

.company-info {
    padding: 3em 0;
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(250px, 500px) minmax(1em, 1fr);
}

.company-info__col {
    text-align: center;
    margin-bottom: 2em;
    grid-column: 2/3;
}

.company-info__col:last-child {
    margin-bottom: 0;
}

.company-info__col-heading::after {
    content: "";
    display: block;
    background-color: var(--yellow);
    height: 3px;
    width: 3.5em;
    margin: 0.4em auto 0;
}

footer {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(250px, 500px) minmax(1em, 1fr);
    align-items: center;
    background-color: var(--light-grey);
    padding-top: 2em;
    padding-bottom: 3em;
    text-align: center;
}

footer>* {
    grid-column: 2/-2;
}

.socials {
    order: -1;
    margin-bottom: 1em;
}

.socials-icon {
    margin-right: 0.5em;
    transform: scale(1);
    display: inline-block;
    transition: all 0.3s ease;
}

.socials-icon:hover,
.socials-icon:focus {
    color: var(--yellow);
    transform: scale(1.3);
}

.socials-icon:last-child {
    margin-right: 0;
}

/* BUTTONS */

.hero__btn {
    grid-row: 3/4;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    justify-self: start;
    padding: 0.5em 2em;
    color: var(--black);
    font-size: 0.875rem;
    background-color: var(--yellow);
    letter-spacing: 1px;
    text-decoration: none;
    transform: rotateX(0deg) scale(1);
    transition: all 0.3s ease;
}

.hero__btn:hover,
.hero__btn:focus {
    transform: rotateX(360deg) scale(1.1);
}

.nav__close-button {
    position: absolute;
    font-size: 4rem;
    padding: 0.1em 0.5em;
    background: none;
    color: var(--yellow);
    border: none;
    border-radius: 0.1em;
    border-top-left-radius: 0;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1);
}

.nav__close-button:hover,
.nav__close-button:focus {
    transform: scale(1.2);
}

.nav__open-button {
    align-self: center;
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--white);
    transform: scale(1);
    transition: all 0.3s ease;
    margin-left: auto;
    cursor: pointer;
}

.nav__open-button:hover,
.nav__close-button:focus {
    transform: scale(1.2);
    color: var(--yellow);
}

/* MEDIA */

@media screen and (min-width: 850px) {
    .hero {
        grid-template-columns:
            minmax(1em, 1fr) minmax(150px, 350px) minmax(150px, 350px) minmax(150px, 350px) minmax(1em, 1fr);
        align-content: center;
        grid-gap: 0 3em;
    }

    .hero>* {
        grid-column: 2/4;
        margin-right: 20%;
    }

    .company-info {
        display: grid;
        grid-template-columns:
            minmax(1em, 1fr) minmax(150px, 350px) minmax(150px, 350px) minmax(150px, 350px) minmax(1em, 1fr);
        grid-gap: 0 3em;
    }

    .company-info__col:first-child {
        grid-column: 2/3;
    }

    .company-info__col:last-child {
        grid-column: 4/5;
    }

    .company-info__col--center {
        grid-column: 3/4;
    }

    footer {
        grid-template-columns:
            minmax(1em, 1fr) minmax(150px, 350px) minmax(150px, 350px) minmax(150px, 350px) minmax(1em, 1fr);
        grid-template-areas: ". c c s .";
        text-align: left;
        padding-top: 3em;
        grid-gap: 0 3em;
    }

    .footer__logo {
        margin: 0;
    }

    .footer__content {
        grid-area: c;
    }

    .socials {
        grid-area: s;
        align-self: start;
        justify-self: end;
    }

    .hero__heading {
        font-size: 2rem;
    }

    header {
        grid-template-columns:
            minmax(1em, 1fr) minmax(150px, 350px) minmax(150px, 350px) minmax(150px, 350px) minmax(1em, 1fr);
        grid-gap: 0 3em;
    }

    .header__container {
        display: flex;
        align-items: center;
    }

    nav {
        position: initial;
        z-index: 0;
        background: none;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0;
    }

    .nav__list-link {
        margin-left: 2em;
        font-size: 1rem;
    }

    .nav__close-button,
    .nav__open-button {
        display: none;
    }
}